[defaults]
inventory = ./inventories/local/hosts.yaml
roles_path = ./roles
vault_password_file = ./.ansible_vault_pass.txt
host_key_checking = False
stdout_callback = default
result_format = yaml

# Make sure --diff is default so we can always see what has changed in a run.
# This may expose secrets in the diff.
[diff]
always = yes
